absl-py
asgiref
atomicwrites
attrs
beautifulsoup4
certifi
charset-normalizer
click
colorama
comtypes
customtkinter
cycler
darkdetect
distlib
dj-database-url
Django>=4.2
django-crispy-forms
django-heroku
et-xmlfile
filelock
Flask
fonttools
gunicorn
idna
iniconfig
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
mediapipe
numpy
opencv-contrib-python
openpyxl
packaging
pandas
Pillow
platformdirs
pluggy
protobuf
psycopg2-binary
py
pyjokes
pyparsing
pypiwin32
pytest
python-dateutil
pyttsx3
pytz
pywin32
random2
requests
six
soupsieve
SpeechRecognition
sqlparse
tomli
tzdata
urllib3
virtualenv
Werkzeug
whitenoise
wikipedia